aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 284px; */
    margin-left: 23px;
    margin-right: 23px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

@media (min-width: 1200px) {
    aside {
        width: 600px;
        padding-top: 96px;
        padding-bottom: 55px;
        padding-right: 93px;
        padding-left: 64px;
    }
}